{% extends 'furniture.njk' %}
{% from './_includes/job-card.njk' import jobCard %}
{% block main %}
  <h1>Browse jobs</h1>
  <div class="mds-grid-row">
    <div class="mds-grid-col-12 mds-grid-col-lg-3">[FILTER]</div>
    <div class="mds-grid-col-12 mds-grid-col-lg-7">
      <h2 id="jobs-lister">Found {{ jobCount }} jobs</h2>
      <ul class="mds-margin-bottom-b4" aria-labelledby="jobs-lister">
        {% for job in jobsList %}
          <li>{{ jobCard(job) }}</li>
        {% endfor %}
      </ul>
    </div>
    <div id="right-column-wrapper" class="mds-grid-col-12 mds-grid-col-lg-2">
      <div class="skyscraper-ad">Ad</div>
    </div>
  </div>
{% endblock %}